.night{
  background-image: url(night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition-duration: 0.90s;
  background-attachment: fixed;
}
.morning{
  background-image: url(img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition-duration: 0.90s;
  background-attachment: fixed;
}



body {
  /* background-image: url(abb.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
